ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  /* background-color: #d8d0c2; */
  background-color: var(--color-text);
  border-radius: 0.25rem;
  color: var(--color-background);
  font-weight: bold;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--color-link-inverted);
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: var(--color-link-inverted);
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: var(--color-background);
  text-decoration: underline;
}