<div class="main_table">
  <div class="cat" id="annuaire">
    <h2 class="collapse">Annuaire</h2>
    <div class="info">
      <div>Voir l'annuaire</div>
      <div>Gérer sa fiche / s'inscrire</div>
      <div>Derniers ajouts:
        <div>GV 1</div>
        <div>GV 2</div>
      </div>
    </div>
  </div>
  <div class="cat" id="blog"> 
    <h2 class="collapse">Blog</h2>
    <div class="info">
      <div>Consulter le blog</div>
      <div>S'inscrire</div>
      <div>Derniers articles
        <div>Art 1</div>
        <div>Art 2</div>
      </div>
      <div>Ecrire un article</div>
    </div>
  </div>
  <div class="cat" id="agenda">
    <h2 class="collapse">Agenda</h2>
    <div class="info">
      <div>Consulter l'agenda</div>
      <div>Gérer / inscrire ses évènements</div>
      <div>Derniers ajouts
        <div>Agenda item 1</div>
        <div>Agenda item 2</div>
      </div>
    </div>
  </div>
  <div class="cat" id="civisme">
    <h2 class="collapse">Civisme</h2>
    <div class="info">
      <div>Profession d'empathie nationale</div>
      <div>Prix Annette Monod</div>
      <div>Mémoire Valentin Francy</div>
    </div>
  </div>
  <div class="cat" id="arts">
    <h2 class="collapse">Arts plastiques</h2>
    <div class="info">
      <div>Popup Expos</div>
      <div>Animations</div>
      <div>Dernières animations </div>
    </div>
  </div>
  <div class="cat" id="digital">
    <h2 class="collapse">Numérique</h2>
    <div class="info">
      <div>Apps</div>
      <div>Gérer son compte / S'inscrire</div>
      <div>Consulter / paramétrer son courriel</div>
    </div>
  </div>