<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>Annuaire</h1> 
    </div>
    <div class="flip-card-back">
      <div>Voir l'annuaire</div>
      <div>Gérer sa fiche / s'inscrire</div>
      <div>Derniers ajouts:
        <div>GV 1</div>
        <div>GV 2</div>
      </div>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>Blog</h1> 
    </div>
    <div class="flip-card-back">
      <div>Consulter le blog</div>
      <div>S'inscrire</div>
      <div>Derniers articles
        <div>Art 1</div>
        <div>Art 2</div>
      </div>
      <div>Ecrire un article</div>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>Agenda</h1> 
    </div>
    <div class="flip-card-back">
      <div>Consulter l'agenda</div>
      <div>Gérer / inscrire ses évènements</div>
      <div>Derniers ajouts
        <div>Agenda item 1</div>
        <div>Agenda item 2</div>
      </div>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>Civisme</h1> 
    </div>
    <div class="flip-card-back">
      <div>Profession d'empathie nationale</div>
      <div>Prix Annette Monod</div>
      <div>Mémoire Valentin Francy</div>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>Arts plastiques</h1> 
    </div>
    <div class="flip-card-back">
      <div>Popup Expos</div>
      <div>Animations</div>
      <div>Dernières animations </div>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>Numérique</h1> 
    </div>
    <div class="flip-card-back">
      <div>Apps</div>
      <div>Gérer son compte / S'inscrire</div>
      <div>Consulter / paramétrer son courriel</div>
    </div>
  </div>
</div>