django
dotenv
urllib3
dj-database-url
djlint
django-markdownx
django-solo
markdown
django-markdownfield
html2text
requests
django-semantic-admin
django-svg-image-form-field
wagtailmenus
wagtail
wagtail-modeladmin
gunicorn
pillow
django-allauth
django-sass-processor
django-debug-toolbar
jwt
wagtail-grapple
graphene-django