<div class="markdownx row" id="markdown-{{ widget.name }}">
  <div class="col-md-6">
    <a href="https://mark.lesgrandsvoisins.com/markdown?both" target="_new">[aide]</a> <a href="#markdown-{{ widget.name }}" onclick="javascript:obj=document.getElementById('markdown-{{ widget.name }}');obj.style.display=(obj.style.display=='flex'?'block':'flex');">[position]</a><br/>
      {% include "django/forms/widgets/textarea.html" %}
  </div>
  <div class="col-md-6">
      <div class="markdownx-preview"></div>
  </div>
</div>