{% load static solo_tags %}
<!doctype html>
<html class="no-js" lang="fr">

{% get_solo 'lgv.SiteConfiguration' as site_config %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ page.title_txt }}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'lgv/css/style.css' %}">
  <meta name="description" content="{{ page.description_txt }}">

  <meta property="og:title" content="{{ page.title_txt }}">
  <meta property="og:type" content="page.type_og">
  <meta property="og:url" content="{{ request.path }}">
  <meta property="og:image" content="{% static 'lgv/img/icon.svg' %}">
  <meta property="og:image:alt" content="{% static 'lgv/img/icon.png' %}">

  <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
  <link rel="icon" href="{% static 'lgv/img/icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'lgv/img/icon.png' %}">

  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
{% block content %}
  <h1>{{  page.title_html  }}</h1>
  {{  page.body_html | safe }}
{% endblock content %}
<script src="{% static 'lgv/js/app.js' %}"></script>

</body>

</html>